body {
    background: $color-dos;

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $color-tres, $color-cuatro, $color-dos);

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $color-tres, $color-cuatro, $color-dos);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
